In [1]:
import numpy as np
import pandas as pd
import os
import re

In [2]:
DATASET_FOLDER = './dataset/'
train = pd.read_csv(os.path.join(DATASET_FOLDER, 'train.csv'))
# test = pd.read_csv(os.path.join(DATASET_FOLDER, 'test.csv'))
# sample_test = pd.read_csv(os.path.join(DATASET_FOLDER, 'sample_test.csv'))
# sample_test_out = pd.read_csv(os.path.join(DATASET_FOLDER, 'sample_test_out.csv'))

In [3]:
train.head()

,sample_id,catalog_content,image_link,price
0,33127,"Item Name: La Victoria Green Taco Sauce Mild, ...",https://m.media-amazon.com/images/I/51mo8htwTH...,4.89
1,198967,"Item Name: Salerno Cookies, The Original Butte...",https://m.media-amazon.com/images/I/71YtriIHAA...,13.12
2,261251,"Item Name: Bear Creek Hearty Soup Bowl, Creamy...",https://m.media-amazon.com/images/I/51+PFEe-w-...,1.97
3,55858,Item Name: Judee’s Blue Cheese Powder 11.25 oz...,https://m.media-amazon.com/images/I/41mu0HAToD...,30.34
4,292686,"Item Name: kedem Sherry Cooking Wine, 12.7 Oun...",https://m.media-amazon.com/images/I/41sA037+Qv...,66.49

In [4]:
index = 98
print(train.loc[index][1])
print(train.loc[index][3])
print(train.loc[index][2])

Item Name: SOUR PATCH KIDS Blue Raspberry Soft & Chewy Candy, 5 lb Bag
Bullet Point 1: One 5 lb bag of SOUR PATCH KIDS Blue Raspberry Soft & Chewy Candy
Bullet Point 2: Blue raspberry flavored candies that are SOUR. SWEET. GONE.
Bullet Point 3: Soft and chewy candies have the traditional SOUR PATCH KIDS shape for a hint of mischief
Bullet Point 4: Use this SOUR THEN SWEET candy as a party favor at baby showers, gender reveals and more
Bullet Point 5: Sealed bag keeps this fruity candy flavorful and soft
Product Description: SOUR PATCH KIDS Blue Raspberry Soft & Chewy Candy packs all the classic flavor into a mischief-filled soft candy. This Just Blue bulk candy bag gives you your favorite SOUR PATCH KIDS blue raspberry flavor all by itself. Add a little fun to your snack with the unique kid shapes that give these candies their name. Enjoy this blue raspberry candy whenever you want a SOUR THEN SWEET treat by filling a bowl with the colors of your school or favorite sports team. SOUR PATCH KIDS can also turn any occasion into a party when you use them as party favors to celebrate birthdays, weddings, graduations, holidays, and more! This bagged candy comes sealed to maintain its signature softness and SOUR THEN SWEET candy flavor.
Value: 80.0
Unit: Ounce

4.79
https://m.media-amazon.com/images/I/91ffySwbbqL.jpg

/var/folders/rp/54g2ts_d5_7_tzbt0mmpg4_h0000gn/T/ipykernel_9623/1048914515.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(train.loc[index][1])
/var/folders/rp/54g2ts_d5_7_tzbt0mmpg4_h0000gn/T/ipykernel_9623/1048914515.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(train.loc[index][3])
/var/folders/rp/54g2ts_d5_7_tzbt0mmpg4_h0000gn/T/ipykernel_9623/1048914515.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(train.loc[index][2])

In [5]:
train['image_link']

0        https://m.media-amazon.com/images/I/51mo8htwTH...
1        https://m.media-amazon.com/images/I/71YtriIHAA...
2        https://m.media-amazon.com/images/I/51+PFEe-w-...
3        https://m.media-amazon.com/images/I/41mu0HAToD...
4        https://m.media-amazon.com/images/I/41sA037+Qv...
                               ...
74995    https://m.media-amazon.com/images/I/81p9PcPsff...
74996    https://m.media-amazon.com/images/I/51DDKoa+mb...
74997    https://m.media-amazon.com/images/I/91R2XCcpUf...
74998    https://m.media-amazon.com/images/I/51W40YU98+...
74999    https://m.media-amazon.com/images/I/81dFnrP6C4...
Name: image_link, Length: 75000, dtype: object

In [6]:
# ignore this piece of code for now
# import requests``
# url = "https://m.media-amazon.com/images/I/71XfHPR36-L.jpg"

# # Send GET request
# response = requests.get(url)

In [7]:
# Brain dump for the model to build

# Extract the details from Image (either to Regex or using LLM)
# - Weight
# - Country
# - No. of items (quantity)
# - Food/Perishable or not perishable


### Model 1 -  get embeddings of images and apply Linerar Regression
### Model 2 -

In [8]:
df = pd.read_csv(os.path.join(DATASET_FOLDER, 'train.csv'))
df.head()

,sample_id,catalog_content,image_link,price
0,33127,"Item Name: La Victoria Green Taco Sauce Mild, ...",https://m.media-amazon.com/images/I/51mo8htwTH...,4.89
1,198967,"Item Name: Salerno Cookies, The Original Butte...",https://m.media-amazon.com/images/I/71YtriIHAA...,13.12
2,261251,"Item Name: Bear Creek Hearty Soup Bowl, Creamy...",https://m.media-amazon.com/images/I/51+PFEe-w-...,1.97
3,55858,Item Name: Judee’s Blue Cheese Powder 11.25 oz...,https://m.media-amazon.com/images/I/41mu0HAToD...,30.34
4,292686,"Item Name: kedem Sherry Cooking Wine, 12.7 Oun...",https://m.media-amazon.com/images/I/41sA037+Qv...,66.49

In [9]:
def extract_quantity(text):
    match = re.search(r'(\d+(\.\d+)?)\s*(oz|ounce|ml|g|kg|lb|lbs|l|litre|liter)', text.lower())
    if match:
        return float(match.group(1))
    return None


df['quantity_value'] = df['catalog_content'].apply(extract_quantity)
df.head()

,sample_id,catalog_content,image_link,price,quantity_value
0,33127,"Item Name: La Victoria Green Taco Sauce Mild, ...",https://m.media-amazon.com/images/I/51mo8htwTH...,4.89,12.00
1,198967,"Item Name: Salerno Cookies, The Original Butte...",https://m.media-amazon.com/images/I/71YtriIHAA...,13.12,8.00
2,261251,"Item Name: Bear Creek Hearty Soup Bowl, Creamy...",https://m.media-amazon.com/images/I/51+PFEe-w-...,1.97,1.90
3,55858,Item Name: Judee’s Blue Cheese Powder 11.25 oz...,https://m.media-amazon.com/images/I/41mu0HAToD...,30.34,11.25
4,292686,"Item Name: kedem Sherry Cooking Wine, 12.7 Oun...",https://m.media-amazon.com/images/I/41sA037+Qv...,66.49,12.70

In [10]:
df.quantity_value.value_counts()
df.quantity_value.isnull().sum()

np.int64(20173)

In [11]:
# # Assuming df is your DataFrame with the 'quantity_value' column already created
# # (from the earlier extraction code)

# # Filter rows where quantity_value is null
missing_qty_df = df[df['quantity_value'].isnull()]

# # Print them
print("Number of products with missing quantity:", len(missing_qty_df))
print("\nSample rows with missing quantity_value:\n")
print(missing_qty_df[['sample_id', 'catalog_content']].iloc[1][1])

Number of products with missing quantity: 20173

Sample rows with missing quantity_value:

Item Name: BODYARMOR LYTE Sports Drink Low-Calorie Sports Beverage, Strawberry Banana, Coconut Water Hydration, Potassium-Packed Electrolytes, Perfect For Athletes, 28 Fl Oz (Pack of 12)
Bullet Point 1: Low Calorie
Bullet Point 2: No Sugar Added
Bullet Point 3: No Artificial Sweeteners, Flavors, or Dyes
Bullet Point 4: Potassium-Packed Electrolytes
Bullet Point 5: Vitamins & Antioxidants
Value: 336.0
Unit: Fl Oz

/var/folders/rp/54g2ts_d5_7_tzbt0mmpg4_h0000gn/T/ipykernel_9623/3674921033.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(missing_qty_df[['sample_id', 'catalog_content']].iloc[1][1])

In [12]:
# Extract numeric value after "Value:"
df["value"] = df["catalog_content"].str.extract(r"Value:\s*([\d\.]+)")

# Convert to float (optional)
df["value"] = df["value"].astype(float)

In [13]:
df.head()

,sample_id,catalog_content,image_link,price,quantity_value,value
0,33127,"Item Name: La Victoria Green Taco Sauce Mild, ...",https://m.media-amazon.com/images/I/51mo8htwTH...,4.89,12.00,72.00
1,198967,"Item Name: Salerno Cookies, The Original Butte...",https://m.media-amazon.com/images/I/71YtriIHAA...,13.12,8.00,32.00
2,261251,"Item Name: Bear Creek Hearty Soup Bowl, Creamy...",https://m.media-amazon.com/images/I/51+PFEe-w-...,1.97,1.90,11.40
3,55858,Item Name: Judee’s Blue Cheese Powder 11.25 oz...,https://m.media-amazon.com/images/I/41mu0HAToD...,30.34,11.25,11.25
4,292686,"Item Name: kedem Sherry Cooking Wine, 12.7 Oun...",https://m.media-amazon.com/images/I/41sA037+Qv...,66.49,12.70,12.00

In [14]:
missing_qty_df = df[df['value'].isnull()]

# # Print them
print("Number of products with missing quantity:", len(missing_qty_df))
# print("\nSample rows with missing value:\n")
print(missing_qty_df[['sample_id', 'catalog_content']].iloc[1][1])
missing_qty_df.head()
# missing_qty_df.isna().sum()
# missing_qty_df.isnull().sum()

Number of products with missing quantity: 940
Item Name: Wellsley Farms Coarse Kosher Salt. 3 Pounds. Passover Approved. From the Salt Caves in Italy. Natural Sicilian Rock Salt. (3 lb Box with Pop Out Pour.)
Bullet Point 1: Origin: Wellsley Farms Kosher Salt is produced on the island of Sicily, Italy, formed over 6 million years ago.
Bullet Point 2: Source: Mined in the historic Realmonte salt caves, also known as the "cathedrals of salt."
Bullet Point 3: Rich Composition: Derived from volcanic soil, renowned for its high mineral content.
Bullet Point 4: Kitchen Use: Ideal for seasoning meals, vegetables, pasta, soups, and sauces.
Bullet Point 5: Quality: A premium salt with a rich heritage and exceptional flavor.
Product Description: Wellsley Farms Kosher salt is produced in Italy on the island of Sicily, a land formed more than 6 Million years ago. The salt is mined in the Realmonte salt caves called the cathedrals of salt, known for centuries for its volcanic soil rich in minerals. Our salt is perfect for seasoning meals, vegetables, pasta, soup, and sauces.
Value: nan
Unit: None

/var/folders/rp/54g2ts_d5_7_tzbt0mmpg4_h0000gn/T/ipykernel_9623/1606205312.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(missing_qty_df[['sample_id', 'catalog_content']].iloc[1][1])

,sample_id,catalog_content,image_link,price,quantity_value,value
48,186165,Item Name: Seasons Brand Imported Skinless & B...,https://m.media-amazon.com/images/I/41HJmvLaTy...,2.540,4.25,NaN
82,218503,Item Name: Wellsley Farms Coarse Kosher Salt. ...,https://m.media-amazon.com/images/I/81DBENbjUQ...,7.465,3.00,NaN
255,238772,Item Name: DYE INK PAD Stamperia Coffee\nBulle...,https://m.media-amazon.com/images/I/81EPOspMgs...,9.490,NaN,NaN
299,231191,Item Name: Starbucks By Nespresso Single Origi...,https://m.media-amazon.com/images/I/41JwYLWvsr...,12.170,100.00,NaN
372,96295,Item Name: Cavender's All Purpose Greek Season...,https://m.media-amazon.com/images/I/313s23mjHU...,21.775,7.00,NaN

In [15]:
df["has_colon_comma_nan"] = df["catalog_content"].str.contains(r":\s*,\s*nan", case=False, na=False)

In [16]:
df.head()

,sample_id,catalog_content,image_link,price,quantity_value,value,has_colon_comma_nan
0,33127,"Item Name: La Victoria Green Taco Sauce Mild, ...",https://m.media-amazon.com/images/I/51mo8htwTH...,4.89,12.00,72.00,False
1,198967,"Item Name: Salerno Cookies, The Original Butte...",https://m.media-amazon.com/images/I/71YtriIHAA...,13.12,8.00,32.00,False
2,261251,"Item Name: Bear Creek Hearty Soup Bowl, Creamy...",https://m.media-amazon.com/images/I/51+PFEe-w-...,1.97,1.90,11.40,False
3,55858,Item Name: Judee’s Blue Cheese Powder 11.25 oz...,https://m.media-amazon.com/images/I/41mu0HAToD...,30.34,11.25,11.25,False
4,292686,"Item Name: kedem Sherry Cooking Wine, 12.7 Oun...",https://m.media-amazon.com/images/I/41sA037+Qv...,66.49,12.70,12.00,False

In [17]:
df.has_colon_comma_nan.value_counts()

has_colon_comma_nan
False    75000
Name: count, dtype: int64

In [18]:
df["value_with_strings"] = df["catalog_content"].str.extract(r"Value:\s*([^\n]+)")
df.head()

,sample_id,catalog_content,image_link,price,quantity_value,value,has_colon_comma_nan,value_with_strings
0,33127,"Item Name: La Victoria Green Taco Sauce Mild, ...",https://m.media-amazon.com/images/I/51mo8htwTH...,4.89,12.00,72.00,False,72.0
1,198967,"Item Name: Salerno Cookies, The Original Butte...",https://m.media-amazon.com/images/I/71YtriIHAA...,13.12,8.00,32.00,False,32.0
2,261251,"Item Name: Bear Creek Hearty Soup Bowl, Creamy...",https://m.media-amazon.com/images/I/51+PFEe-w-...,1.97,1.90,11.40,False,11.4
3,55858,Item Name: Judee’s Blue Cheese Powder 11.25 oz...,https://m.media-amazon.com/images/I/41mu0HAToD...,30.34,11.25,11.25,False,11.25
4,292686,"Item Name: kedem Sherry Cooking Wine, 12.7 Oun...",https://m.media-amazon.com/images/I/41sA037+Qv...,66.49,12.70,12.00,False,12.0

In [19]:
missing_qty_df["value_line"] = missing_qty_df["catalog_content"].str.extract(r"(\n?Value:[^\n]*)")
missing_qty_df.head()

/var/folders/rp/54g2ts_d5_7_tzbt0mmpg4_h0000gn/T/ipykernel_9623/173711503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_qty_df["value_line"] = missing_qty_df["catalog_content"].str.extract(r"(\n?Value:[^\n]*)")

,sample_id,catalog_content,image_link,price,quantity_value,value,value_line
48,186165,Item Name: Seasons Brand Imported Skinless & B...,https://m.media-amazon.com/images/I/41HJmvLaTy...,2.540,4.25,NaN,\nValue: nan
82,218503,Item Name: Wellsley Farms Coarse Kosher Salt. ...,https://m.media-amazon.com/images/I/81DBENbjUQ...,7.465,3.00,NaN,\nValue: nan
255,238772,Item Name: DYE INK PAD Stamperia Coffee\nBulle...,https://m.media-amazon.com/images/I/81EPOspMgs...,9.490,NaN,NaN,\nValue: nan
299,231191,Item Name: Starbucks By Nespresso Single Origi...,https://m.media-amazon.com/images/I/41JwYLWvsr...,12.170,100.00,NaN,\nValue: nan
372,96295,Item Name: Cavender's All Purpose Greek Season...,https://m.media-amazon.com/images/I/313s23mjHU...,21.775,7.00,NaN,\nValue: nan

In [26]:
pd.set_option('display.max_rows', None)
# print(missing_qty_df.iloc[÷16585])   
missing_qty_df[['value_line', 'sample_id']]

                                              value_line  sample_id
48                                          \nValue: nan     186165
82                                          \nValue: nan     218503
255                                         \nValue: nan     238772
299                                         \nValue: nan     231191
372                                         \nValue: nan      96295
541                                         \nValue: nan      59147
594                                         \nValue: nan      89586
653                                         \nValue: nan     284687
671                                         \nValue: nan      45478
780                                         \nValue: nan      65103
788                                         \nValue: nan     226144
899                                         \nValue: nan     269550
1032                                        \nValue: nan      48402
1120                                        \nValue: nan      70033
1247                                        \nValue: nan     172898
1271                                        \nValue: nan     155498
1308                                        \nValue: nan     205534
1459                                        \nValue: nan     231006
1534                                        \nValue: nan     205590
1565                                        \nValue: nan     274130
1607                                        \nValue: nan      60017
1681                                        \nValue: nan      31216
1923                                        \nValue: nan     216288
1943                                        \nValue: nan      41932
2038                                        \nValue: nan     276565
2056                                        \nValue: nan      64584
2077                                        \nValue: nan     161176
2131                                        \nValue: nan      87394
2275                                        \nValue: nan     166121
2294                                        \nValue: nan      85173
2363                                        \nValue: nan     139699
2450                                        \nValue: nan      82808
2465                                        \nValue: nan     166338
2524                                        \nValue: nan      35685
2530                                        \nValue: nan      90173
2546                                        \nValue: nan     153648
2553                                        \nValue: nan      25830
2677                                        \nValue: nan     201761
2863                                        \nValue: nan     219385
2960                                        \nValue: nan      25414
2991                                        \nValue: nan     217625
3088                                        \nValue: nan     157880
3180                                        \nValue: nan     222000
3280                                        \nValue: nan     220218
3281                                        \nValue: nan     117150
3285                                        \nValue: nan     268069
3354                                        \nValue: nan      44255
3356                                        \nValue: nan     226852
3362                                        \nValue: nan     141713
3407                                        \nValue: nan     157240
3411                                        \nValue: nan      74581
3472                                        \nValue: nan      27809
3522                                        \nValue: nan     212626
3570                                        \nValue: nan     101079
3693                                        \nValue: nan     273671
3748                                        \nValue: nan      74138
3778                                        \nValue: nan      37813
3922                                        \nValue: nan     238851
3959                                        \nValue: nan     230073
4066                                        \nValue: nan     276897
4073                                        \nValue: nan     102319
4137                                        \nValue: nan      74594
4234                                        \nValue: nan     227680
4349                                        \nValue: nan      92799
4399                                        \nValue: nan       3410
4460                                        \nValue: nan      88700
4511                                        \nValue: nan     162385
4595                                        \nValue: nan     212272
4658                                        \nValue: nan     240151
4679                                        \nValue: nan      43711
4692                                        \nValue: nan      31769
4781                                        \nValue: nan      56206
4976                                        \nValue: nan     279977
4990                                        \nValue: nan     105231
5109                                        \nValue: nan      35675
5211                                        \nValue: nan     136410
5259                                        \nValue: nan     236464
5357                                        \nValue: nan      10915
5532                                        \nValue: nan     109227
5756                                        \nValue: nan     131553
5839                                        \nValue: nan      87966
5907                                        \nValue: nan      84473
5910                                        \nValue: nan     286550
5996                                        \nValue: nan     166342
6022                                        \nValue: nan      67935
6208                                        \nValue: nan      14904
6217                                        \nValue: nan     169618
6266                                        \nValue: nan     101292
6315                                        \nValue: nan     136706
6440                                        \nValue: nan     207108
6485                                        \nValue: nan     122212
6490                                        \nValue: nan     211107
6529                                        \nValue: nan     243868
6608                                        \nValue: nan     166088
6891                                        \nValue: nan      93795
6967                                        \nValue: nan      44345
7023                                        \nValue: nan     172136
7326                                        \nValue: nan     241610
7412                                        \nValue: nan      55174
7421                                        \nValue: nan     218094
7466                                        \nValue: nan     295341
7485                                        \nValue: nan      38518
7494                                        \nValue: nan      72924
7498                                        \nValue: nan     101479
7526                                        \nValue: nan      62935
7708                                        \nValue: nan     123389
7727                                        \nValue: nan     281133
7854                                        \nValue: nan      92579
8085                                        \nValue: nan     201908
8123                                        \nValue: nan     205986
8179                                        \nValue: nan      86585
8379                                        \nValue: nan      47724
8429                                        \nValue: nan      44407
8911                                        \nValue: nan     212709
8925                                        \nValue: nan     162647
8931                                        \nValue: nan      92329
8988                                        \nValue: nan     116466
8993                                        \nValue: nan     155401
9051                                        \nValue: nan     115755
9085                                        \nValue: nan     228918
9093                                        \nValue: nan     251193
9270                                        \nValue: nan     243751
9302                                        \nValue: nan      83761
9408                                        \nValue: nan      83427
9533                                        \nValue: nan     297601
9549                                        \nValue: nan      50055
9710                                        \nValue: nan     243835
9780                                        \nValue: nan     158697
9835                                        \nValue: nan     273996
9838                                        \nValue: nan     235869
10032                                       \nValue: nan     125755
10118                                       \nValue: nan      87646
10177                                       \nValue: nan      29313
10192                                       \nValue: nan     281346
10240                                       \nValue: nan      87885
10288                                       \nValue: nan     166026
10453                                       \nValue: nan      92352
10914                                       \nValue: nan      41466
11015                                       \nValue: nan     124107
11032                                       \nValue: nan      89514
11062                                       \nValue: nan     185256
11065                                       \nValue: nan      45538
11123                                       \nValue: nan     298554
11167                                       \nValue: nan     259080
11184                                       \nValue: nan     224587
11544                                       \nValue: nan      65960
11610                                       \nValue: nan     101154
11639                                       \nValue: nan     248791
11659                                       \nValue: nan     219745
11730                                       \nValue: nan     162894
11741                                       \nValue: nan     152621
11821                                       \nValue: nan      87807
11880                                       \nValue: nan     217302
11924                                       \nValue: nan     191734
12273                                       \nValue: nan      88649
12288                                       \nValue: nan      30131
12475                                       \nValue: nan     149672
12514                                       \nValue: nan      51701
12567                                       \nValue: nan     233134
12583                                       \nValue: nan     232253
12615                                       \nValue: nan      78473
13048                                       \nValue: nan     233279
13100                                       \nValue: nan     102044
13101                                       \nValue: nan     235868
13148                                       \nValue: nan      74122
13430                                       \nValue: nan      80552
13461                                       \nValue: nan      38215
13714                                       \nValue: nan     251456
13763                                       \nValue: nan      70347
13808                                       \nValue: nan     100972
13838                                       \nValue: nan     286631
13848                                       \nValue: nan     228400
13947                                       \nValue: nan     173871
14104                                       \nValue: nan     226033
14135                                       \nValue: nan     149025
14174                                       \nValue: nan     101138
14188                                       \nValue: nan     237146
14206                                       \nValue: nan     163129
14267                                       \nValue: nan     125895
14292                                       \nValue: nan      56785
14380                                       \nValue: nan     157281
14463                                       \nValue: nan     157069
14500                                       \nValue: nan      91115
14621                                       \nValue: nan     211632
14633                                       \nValue: nan      92383
14779                                       \nValue: nan     248615
14826                                       \nValue: nan     167682
14889                                       \nValue: nan     281920
14985                                       \nValue: nan     161173
15014                                       \nValue: nan      60876
15023                                       \nValue: nan     212058
15322                                       \nValue: nan      90163
15550                                       \nValue: nan     173961
15563                                       \nValue: nan     115936
15679                                       \nValue: nan      87881
15736                                       \nValue: nan     111418
15835                                       \nValue: nan     231657
15925                                       \nValue: nan      44608
15928                                       \nValue: nan     204425
16051                                       \nValue: nan      52196
16071                                       \nValue: nan     164779
16125                                       \nValue: nan     183171
16195                                       \nValue: nan     238179
16301                                       \nValue: nan     290341
16340                                       \nValue: nan     265385
16438                                       \nValue: nan     256813
16496                                       \nValue: nan     253305
16585  Value: Oysters are packed with essential nutri...     280157
16712                                       \nValue: nan       5827
16875                                       \nValue: nan      92370
17054                                       \nValue: nan      53411
17062                                       \nValue: nan     229595
17109                                       \nValue: nan     215395
17141                                       \nValue: nan      55756
17144                                       \nValue: nan     241785
17147                                       \nValue: nan      75017
17265                                       \nValue: nan      34638
17368                                       \nValue: nan     235120
17417                                       \nValue: nan     171523
17425                                       \nValue: nan     154303
17630                                       \nValue: nan      40040
17674                                       \nValue: nan     259772
17684                                       \nValue: nan     235802
17755                                       \nValue: nan      45661
17846                                       \nValue: nan     230682
17869                                       \nValue: nan      67304
17940                                       \nValue: nan     129698
18012                                       \nValue: nan      88821
18066                                       \nValue: nan     116755
18100                                       \nValue: nan     100920
18104                                       \nValue: nan      38770
18133                                       \nValue: nan      40304
18142                                       \nValue: nan      79309
18145                                       \nValue: nan      35111
18192                                       \nValue: nan     137349
18346                                       \nValue: nan      64742
18389                                       \nValue: nan     258091
18522                                       \nValue: nan      25142
18593                                       \nValue: nan      30468
18815                                       \nValue: nan      74985
18817                                       \nValue: nan     186485
18845                                       \nValue: nan      98397
18857                                       \nValue: nan      12216
18925                                       \nValue: nan     210335
19023                                       \nValue: nan      81906
19164                                       \nValue: nan      76795
19183                                       \nValue: nan      38245
19185                                       \nValue: nan     281161
19202                                       \nValue: nan      27800
19433                                       \nValue: nan     110399
19525                                       \nValue: nan     216860
19540                                       \nValue: nan     101265
19543                                       \nValue: nan     178338
19570                                       \nValue: nan      48023
19813                                       \nValue: nan     172904
19865                                       \nValue: nan     234023
19968                                       \nValue: nan     229202
20104                                       \nValue: nan     163081
20224                                       \nValue: nan     227679
20422                                       \nValue: nan      64351
20464                                       \nValue: nan      63098
20490                                       \nValue: nan      57447
20541                                       \nValue: nan     200024
20565                                       \nValue: nan     246826
20696                                       \nValue: nan     226003
20723                                       \nValue: nan     166718
20783                                       \nValue: nan      79136
20849                                       \nValue: nan      26459
20900                                       \nValue: nan      98084
20909                                       \nValue: nan      36768
20962                                       \nValue: nan      32500
21012                                       \nValue: nan      30537
21085                                       \nValue: nan      48226
21105                                       \nValue: nan     194117
21211                                       \nValue: nan     162636
21369                                       \nValue: nan      88809
21559                                       \nValue: nan     102827
21605                                       \nValue: nan     259100
21705                                       \nValue: nan      98914
21766                                       \nValue: nan     125456
21873                                       \nValue: nan     233126
21977                                       \nValue: nan      81935
22022                                       \nValue: nan     157556
22095                                       \nValue: nan     223804
22160                                       \nValue: nan     243399
22200                                       \nValue: nan      42444
22450                                       \nValue: nan     261562
22455                                       \nValue: nan     163848
22459                                       \nValue: nan     163813
22788                                       \nValue: nan     124623
22846                                       \nValue: nan      97645
22888                                       \nValue: nan     156915
22900                                       \nValue: nan     230685

In [ ]:
pd.set_option('display.max_rows', None)       # Show all rows (be careful if it's large)

print(df[df["sample_id"] == 280157]['catalog_content'])
print(df[df["sample_id"] == 280157].loc[0][1])

16585    Item Name: MW Polar Seafood, Boiled Whole Oyst...
Name: catalog_content, dtype: object

KeyError: 0

In [ ]:
print('Item Name: MW Polar Seafood, Boiled Whole Oyster, 8-Ounce (Pack of 12)\nBullet Point 1: Convenience & Versatile: Polar Boiled Whole Oysters 8oz Can all natural whole boiled oysters packed in water and salt. Ready-to-eat, eliminating the need for time-consuming preparation. Simply open the can and enjoy the delicious oysters. Add to pasta dishes, soups, stews, or used as toppings on pizzas and salads.\nBullet Point 2: Long shelf life: Boiling process occurs after canning to sterilize oysters. Polar Canned Oysters have an extended shelf life, making them an excellent pantry staple. They are preserved in airtight containers, allowing them to stay fresh for a longer period compared to fresh oysters. This means you can have a supply of tasty oysters readily available whenever you crave them.\nBullet Point 3: Why are some green? Oysters’ primary food source as plankton, a microscopic plant in the ocean, which contain chlorophyll, a natural pigment that’s green. During the canned process, oysters are cooked and sterilized at a high temp, creating an enzymatic reaction which present a green color you see. It is natural and perfectly safe to eat.\nBullet Point 4: Nutritional Value: Oysters are packed with essential nutrients, including high levels of protein, vitamins, minerals, iron, and zinc. Canned oysters retain their nutritional benefits, providing you with a convenient and healthy source of nutrients.\nBullet Point 5: Sustainable Seafood Option: Polar Oysters offer an environmentally friendly choice for seafood lovers. Oysters are filter feeders, meaning they help improve water quality by consuming algae and excess nutrients. Choosing canned oysters supports sustainable seafood practices, as they are often farmed in a controlled and environmentally conscious manner.\nValue: nan\nUnit: None\n')

Item Name: MW Polar Seafood, Boiled Whole Oyster, 8-Ounce (Pack of 12)
Bullet Point 1: Convenience & Versatile: Polar Boiled Whole Oysters 8oz Can all natural whole boiled oysters packed in water and salt. Ready-to-eat, eliminating the need for time-consuming preparation. Simply open the can and enjoy the delicious oysters. Add to pasta dishes, soups, stews, or used as toppings on pizzas and salads.
Bullet Point 2: Long shelf life: Boiling process occurs after canning to sterilize oysters. Polar Canned Oysters have an extended shelf life, making them an excellent pantry staple. They are preserved in airtight containers, allowing them to stay fresh for a longer period compared to fresh oysters. This means you can have a supply of tasty oysters readily available whenever you crave them.
Bullet Point 3: Why are some green? Oysters’ primary food source as plankton, a microscopic plant in the ocean, which contain chlorophyll, a natural pigment that’s green. During the canned process, oysters are cooked and sterilized at a high temp, creating an enzymatic reaction which present a green color you see. It is natural and perfectly safe to eat.
Bullet Point 4: Nutritional Value: Oysters are packed with essential nutrients, including high levels of protein, vitamins, minerals, iron, and zinc. Canned oysters retain their nutritional benefits, providing you with a convenient and healthy source of nutrients.
Bullet Point 5: Sustainable Seafood Option: Polar Oysters offer an environmentally friendly choice for seafood lovers. Oysters are filter feeders, meaning they help improve water quality by consuming algae and excess nutrients. Choosing canned oysters supports sustainable seafood practices, as they are often farmed in a controlled and environmentally conscious manner.
Value: nan
Unit: None